body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  h2{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 50px;
  }
  
  .turn-container {
    margin-bottom: 30px;
  }
  
  .car {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .car:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }
  
  .car h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }
  
  .car p {
    margin: 8px 0;
    color: #666;
    font-size: 16px;
  }
  